@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Hero Section Start */
.hero-section {
  background-image: url('../images/hero-bg-with-woman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-section .logo {
  width: 150px;
  position: absolute;
  padding-top: 50px;
  top: 0;
}
.hero-section .hero-description img.hero-woman {
  position: absolute;
  top: 0;
  width: 50%;
  padding-right: 50px;
}
.hero-section .hero-description h2 {
  color: #fff; 
  font-size: 35.5px;
  font-weight: 300;
}
/* Hero Section End */





.highlight-section {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
}

.highlight-section img {
  width: 70%;
}




.highlight-section .col-md-6:first-child {
  padding: 0 20px 0 20px;
}

.highlight-section p {
  font-size: 23px;
}



.services-section {
  padding: 4rem 2rem;
}

.services-section .h4{
  color: #f652b9;
}
.safe-space {
  background-image: url('../images/safe-space-men.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  align-items: center;
  height: 100vh;
}

.safe-space p {
  font-size: 28px;
}

.trusted-section {
  background-color: #f652b9;
  color: #fff;
  padding: 4rem 2rem;
}

.trusted-section h3 {
  font-size: 36px;
}

.clients-section {
  padding: 4rem 2rem;
}
.about-section {
  padding: 4rem 2rem;
}
.about-section h3 {
  color: #f652b9;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem 2rem;
}

@media (max-width: 576px) {
  .hero-section {
    background-image: url('../images/hero-bg-mobile.png');
    background-position: center;
    background-size: cover;
    display: block;
  }

  .hero-section .hero-description {
    padding-top: 150px;
  }

  .hero-section .hero-description h2 {
    font-size: 30px;
  }

  .hero-section .logo {
    padding-top: 30px !important;
  }
}